{{ define "output-value" }}
{{- if eq .Convention "vm_subresource" }}
    value = "vm${local.conventions.virtual_machine}-{{ .Code }}-${local.two_digits_sub_resource_sequence_number}"
{{ else }}
    value = "{{ .Code}}${local.conventions.{{ .Convention }}}"
{{ end }}
{{- end }}

{{ define "outputs" -}}
// This file has been generated automatically (see outputs_generator/main.go)
{{ range . }}
output "{{ .Name }}" {
    description = "Name for `{{ .Name }}` resource."
    {{- template "output-value" . -}}
}
{{ end }}
{{- end }}
